<!DOCTYPE html>
<html>
{% with title="Home", mirrorPage=url_for('adref'), chapters=chapters %}
{% include 'en/head.html' %}

{% include 'en/heading.html' %}
{% endwith %}

<div id="home" class="body">
    <div class="plate1">
        <div class="plate2">
            <h2>Welcome</h2>
            <p>Welcome to Barmouth History.</p>
        </div>
        <div class="plate2">
            <h2>Contents</h2>
            {% include 'en/listChapters.html' %}
        </div>
    </div>
</div>

</html>